*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#e3e6e6;
}

.navbar{
    background:#131921;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px;
    gap:15px;
}

.logo{
    font-size:30px;
    font-weight:bold;
}

.logo span{
    color:#ff9900;
}

.location{
    font-size:14px;
}

.search-box{
    display:flex;
    width:50%;
}

.search-box input{
    width:100%;
    padding:10px;
    border:none;
}

.search-box button{
    background:#febd69;
    border:none;
    width:60px;
    cursor:pointer;
}

.nav-links{
    display:flex;
    gap:20px;
}

.menu{
    background:#232f3e;
    padding:12px;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-right:20px;
}

.hero{
    height:350px;
    background-image:url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

.hero-message{
    background:white;
    width:90%;
    text-align:center;
    padding:15px;
    margin-bottom:25px;
}

.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    padding:20px;
}

.box{
    width:23%;
    background:white;
    padding:15px;
    margin:15px 0;
    border-radius:5px;
    transition:0.3s;
}

.box:hover{
    transform:translateY(-5px);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.box img{
    width:100%;
    height:250px;
    object-fit:cover;
    margin:15px 0;
}

.box button{
    width:100%;
    padding:10px;
    background:#ffd814;
    border:none;
    cursor:pointer;
}

.footer-top{
    background:#37475a;
    color:white;
    text-align:center;
    padding:15px;
    cursor:pointer;
}

.footer-bottom{
    background:#131921;
    color:white;
    text-align:center;
    padding:25px;
}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
    }

    .search-box{
        width:100%;
    }

    .box{
        width:90%;
    }

    .nav-links{
        flex-direction:column;
        align-items:center;
    }
}